<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Lesson2_Servlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>com.haku.servlet.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InitParamServlet</servlet-name>
    <servlet-class>com.haku.servlet.InitParamServlet</servlet-class>
    <init-param>
      <param-name>emailSupport1</param-name>
      <param-value>phamngocquy</param-value>
    </init-param>
    <init-param>
      <param-name>emailSupport2</param-name>
      <param-value>phamngocviettu</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitParamServlet</servlet-name>
    <url-pattern>/initParam</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ForwardDemoServlet</servlet-name>
    <servlet-class>com.haku.servlet.ForwardDemoServlet</servlet-class>
  </servlet>
</web-app>